# between_words
#entity_title_e1
entity_title_e2
entity_alpha_e1
#entity_alpha_e2
entity_type_e1
entity_type_e2
entity_pos_e1
entity_pos_e2
entity_npos_e1
entity_ppos_e2
entity_token_dist
#entity_between_possessive
#entity_between_preposition
entity_premod
entity_formulaic
#entity_verbal
entity_social
entity_between_preposition_loc
entity_geo
#entity_geo_e1
entity_geo_e2
entity_employment_e1
entity_employment_e2
entity_ideology_e1
entity_ideology_e2
entity_part_whole_e1
entity_part_whole_e2
combo_type
combo_words
combo_mention_level
netype_plus_right_overlap
netype_plus_left_overlap
lca_type
path_between
dependent_and_netype
dep_surrounding
surrounding
first_between
last_between
other_between
is_overlap
